<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MPSConnect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_18pt-Black.ttf</string>
		<string>Inter_18pt-BlackItalic.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-BoldItalic.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
		<string>Inter_18pt-ExtraBoldItalic.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
		<string>Inter_18pt-ExtraLightItalic.ttf</string>
		<string>Inter_18pt-Italic.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-LightItalic.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-MediumItalic.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-SemiBoldItalic.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
		<string>Inter_18pt-ThinItalic.ttf</string>
		<string>Inter_24pt-Black.ttf</string>
		<string>Inter_24pt-BlackItalic.ttf</string>
		<string>Inter_24pt-Bold.ttf</string>
		<string>Inter_24pt-BoldItalic.ttf</string>
		<string>Inter_24pt-ExtraBold.ttf</string>
		<string>Inter_24pt-ExtraBoldItalic.ttf</string>
		<string>Inter_24pt-ExtraLight.ttf</string>
		<string>Inter_24pt-ExtraLightItalic.ttf</string>
		<string>Inter_24pt-Italic.ttf</string>
		<string>Inter_24pt-Light.ttf</string>
		<string>Inter_24pt-LightItalic.ttf</string>
		<string>Inter_24pt-Medium.ttf</string>
		<string>Inter_24pt-MediumItalic.ttf</string>
		<string>Inter_24pt-Regular.ttf</string>
		<string>Inter_24pt-SemiBold.ttf</string>
		<string>Inter_24pt-SemiBoldItalic.ttf</string>
		<string>Inter_24pt-Thin.ttf</string>
		<string>Inter_24pt-ThinItalic.ttf</string>
		<string>Inter_28pt-Black.ttf</string>
		<string>Inter_28pt-BlackItalic.ttf</string>
		<string>Inter_28pt-Bold.ttf</string>
		<string>Inter_28pt-BoldItalic.ttf</string>
		<string>Inter_28pt-ExtraBold.ttf</string>
		<string>Inter_28pt-ExtraBoldItalic.ttf</string>
		<string>Inter_28pt-ExtraLight.ttf</string>
		<string>Inter_28pt-ExtraLightItalic.ttf</string>
		<string>Inter_28pt-Italic.ttf</string>
		<string>Inter_28pt-Light.ttf</string>
		<string>Inter_28pt-LightItalic.ttf</string>
		<string>Inter_28pt-Medium.ttf</string>
		<string>Inter_28pt-MediumItalic.ttf</string>
		<string>Inter_28pt-Regular.ttf</string>
		<string>Inter_28pt-SemiBold.ttf</string>
		<string>Inter_28pt-SemiBoldItalic.ttf</string>
		<string>Inter_28pt-Thin.ttf</string>
		<string>Inter_28pt-ThinItalic.ttf</string>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-BlackItalic.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
		<string>NotoSans-ExtraBoldItalic.ttf</string>
		<string>NotoSans-ExtraLight.ttf</string>
		<string>NotoSans-ExtraLightItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-LightItalic.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-MediumItalic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-SemiBoldItalic.ttf</string>
		<string>NotoSans-Thin.ttf</string>
		<string>NotoSans-ThinItalic.ttf</string>
		<string>NotoSans_Condensed-Black.ttf</string>
		<string>NotoSans_Condensed-BlackItalic.ttf</string>
		<string>NotoSans_Condensed-Bold.ttf</string>
		<string>NotoSans_Condensed-BoldItalic.ttf</string>
		<string>NotoSans_Condensed-ExtraBold.ttf</string>
		<string>NotoSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_Condensed-ExtraLight.ttf</string>
		<string>NotoSans_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_Condensed-Italic.ttf</string>
		<string>NotoSans_Condensed-Light.ttf</string>
		<string>NotoSans_Condensed-LightItalic.ttf</string>
		<string>NotoSans_Condensed-Medium.ttf</string>
		<string>NotoSans_Condensed-MediumItalic.ttf</string>
		<string>NotoSans_Condensed-Regular.ttf</string>
		<string>NotoSans_Condensed-SemiBold.ttf</string>
		<string>NotoSans_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_Condensed-Thin.ttf</string>
		<string>NotoSans_Condensed-ThinItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Black.ttf</string>
		<string>NotoSans_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Bold.ttf</string>
		<string>NotoSans_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Italic.ttf</string>
		<string>NotoSans_ExtraCondensed-Light.ttf</string>
		<string>NotoSans_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Medium.ttf</string>
		<string>NotoSans_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Regular.ttf</string>
		<string>NotoSans_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSans_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Thin.ttf</string>
		<string>NotoSans_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Black.ttf</string>
		<string>NotoSans_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Bold.ttf</string>
		<string>NotoSans_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Italic.ttf</string>
		<string>NotoSans_SemiCondensed-Light.ttf</string>
		<string>NotoSans_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Medium.ttf</string>
		<string>NotoSans_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Regular.ttf</string>
		<string>NotoSans_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Thin.ttf</string>
		<string>NotoSans_SemiCondensed-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
